html::-webkit-scrollbar {
  display: none;
}

.bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('/images/bg_cloud.png') bottom;
  background-size: cover;
}

.comment-wrapper {
  position: absolute;
}

.comment {
  position: relative;
  overflow: hidden;
  width: 500px;
}

.balloon {
  width: 100%;
}

.icon {
  position: absolute;
  border-radius: 70px;
  top: 180px;
  left: 180px;
  width: 140px;
  height: 140px;
}

.action {
  position: absolute;
  left: 150px;
  bottom: 100px;
  width: 200px;
}
