<html>
<head>
    <title>ほめんと | 入室</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/normalize.css}"><!-- normalize.css -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/enter.css}">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
</head>
<body>
<div class="bg" id="bg">
    <a href="/" class="backButton">
        <img src="/images/back.png" alt="戻る"/>
    </a>
    <form method="get" action="/rooms">
        <div class="from-wrapper">
            <div class="guide-wrapper">
                <img class="cloud" src="/images/cloud.png" alt="くも"/>
                <div class="guide">
                    <div>パスワードをいれよう</div>
                </div>
            </div>
        </div>
        <div class="input-wrapper">
            <div class="error" th:if="${errorMessage} != null" th:text="${errorMessage}"></div>
            <input id="passwordInput" type="text" name="password" placeholder="ここに入力" required/>
        </div>
        <input id="postButton" class="postButton" type="submit" value="教室にはいる" disabled/>
    </form>
</div>
<script type="text/javascript" src="/js/enter.js"></script>
</body>
</html>
