<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ほめんと | ビューワ</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"><!-- normalize.css -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/viewer.css}">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
</head>
<body>
<div class="bg" id="bg">
</div>
<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  const roomId = /*[[ ${roomId} ]]*/;
  /*]]>*/
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/webstomp-client@1.2.6/dist/webstomp.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script type="text/javascript" src="/js/viewer.js"></script>
</body>
</html>
